@import "../../anim";

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  &__logo {
    position: relative;
    height: 40px;
    width: auto;
    opacity: 0;
    animation: slideLeft 1.5s 4s forwards;
    will-change: transform;
    img {
      width: auto;
      height: auto;
    }
  }
  &__contact {
    .header__button {
      outline: none;
      background-color: #fff;
      border: 1px solid #000;
      padding: 8px 30px;
      border-radius: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      color: #000;
      transform: scale(0);
      animation: slideRight 1.5s 5s forwards;
    }
  }
}
